body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
    min-width: min-content;
}

.first_pane {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    height: 500px;
}

.first_container {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin-top: 20px;
}

.first_container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-weight: lighter;
}

.hero {
    display: flex;
    gap: 50px;
    margin: auto;
}

.hero img {
    width: 450px;
    height: auto;
}

.hero_left {
    display: flex;
    flex-direction: column;
}

.main {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin-bottom: 6px;
}

.secondary,
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    align-self: start;
    margin-top: auto;
    background: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.second_pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.info_header {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}

.info_container {
    display: flex;
    width: 800px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    gap: 5px;
}

.info img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
}

.info .text {
    text-align: center;
}

.third_pane {
    display: flex;
    background-color:#e5e7eb;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.third_container {
    display: flex;
    flex-direction: column;
    width: 800px;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}

.fourth_pane {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.fourth_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    width: 1100px;
    border-radius: 10px;
    padding: 50px 100px;
    box-sizing: border-box;
}

.message {
    color: white;
    font-size: 18px;
}

.message .header {
    font-weight: bold;
}

.fourth_container button {
    border: 2px solid white;
    margin: auto 0;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
}