body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.first_pane {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    height: 550px;
}

.first_container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-weight: lighter;
}

.hero {
    display: flex;
    gap: 50px;
    margin: auto;
}

.hero img {
    width: 450px;
    height: auto;
}

.hero_left {
    display: flex;
    flex-direction: column;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 6px;
}

.secondary,
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero_left button {
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    align-self: start;
    margin-top: auto;
    background: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: white;
}